<div class="item-wrapper">
  <div class="image-container" style="background-image: url(http://www.recipematcher.com/assets/photos/recipes/large/9382c32ee2a69a0c40c1c315230460ff.jpg)"></div>
  <div class="item-name">
    Pineapple Fried Rice
  </div>
  <div class="item-store-name">
    Basil Thai
  </div>
  <div class="item-bottom">
    <span class="item-price">
      $9.00
    </span>
  </div>
</div>