<div class="item-wrapper">
  <div class="image-container" style="background-image: url(<%= item["image"] %>)"></div>
  <div class="item-name">
    <%= item["name"] %>
  </div>
  <div class="item-store-name">
    <%= item["store"] %>
  </div>
  <div class="item-bottom">
    <span class="item-price">
      <%= item["cost"] %>
    </span>
  </div>
</div>