<!DOCTYPE html>
<html class="collage">
<head>
  <title>Collage</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,700' rel='stylesheet' type='text/css'>
  <%= render "static_pages/preview_styles" %>
</head>
<body>
  <div class="container collage">
    <div class="row">
      <div class="col-md-12">
        <h3><%= menu_title %></h3>
      </div>
    </div>

    <div class="row">
      <% items.each do |item| %>
        <%= render "static_pages/item", item: item %>
      <% end %>
    </div>
  </div>
</body>
</html>
