<!DOCTYPE html>
<html class="collage">
<head>
  <title>Collage</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,700' rel='stylesheet' type='text/css'>
  <style type="text/css">
    html, body {
      margin-bottom: 5px;
      padding-bottom: 5px;
    }

    .collage {
      width: 678px;
      font-family: Roboto;
    }

    .collage h3 {
      margin-top: 10px;
      font-weight: 300;
      margin-bottom: 5px;
    }

    .collage .item-wrapper {
      border: 1px solid #ccc;
      float: left;
      padding: 15px;
      width: 300px;
      margin-left: -1px;
      margin-bottom: -1px;
    }

    .collage .item-wrapper .image-container {
      overflow: hidden;
      height: 200px;
      width: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .collage .item-wrapper .item-name {
      font-size: 20px;
      padding-top: 10px;
    }

    .collage .item-wrapper .item-store-name {
      font-weight: 100;
      color: #999;
      padding-top: 5px;
    }

    .collage .item-wrapper .item-bottom {
      margin-top: 5px;
    }

    .collage .item-wrapper .item-bottom .item-price {
      border: 1px solid #6BB91F;
      border-radius: 5px;
      color: #6BB91F;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      padding: 8px;
    }

    .collage .item-wrapper .item-bottom .drive-wrapper {
      float: right;
      text-align: center;
    }

    .collage .item-wrapper .item-bottom .drive-wrapper .car {
      background: url(https://protected-spire-8070.herokuapp.com/collages/car@2x.png) no-repeat;
      height: 20px;
      display: inline-block;
      width: 42px;
    }

    .collage .item-wrapper .item-bottom .drive-wrapper .drive-time {
      color: #999;
      font-size: 14px;
    }

  </style>
</head>
<body>
  <div class="container collage">
    <div class="row">
      <div class="col-md-12">
        <h3><%= menu_title %></h3>
      </div>
    </div>

    <div class="row">
      <% items.each do |item| %>
        <%= render "static_pages/item", item: item %>
      <% end %>
    </div>
  </div>
</body>
</html>
