<!DOCTYPE html>
<html>
<head>
  <title>Collage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container collage">
    <div class="row">
      <div class="col-md-12">
        <h3>FASTBITE - DEC 23, 2015 DINNER MENU</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="item-wrapper">
          <div class="image-container">
            <img src="" />
          </div>
          <div class="item-name">
            Pineapple Fried Rice
          </div>
          <div class="item-store-name">
            Basil Thai
          </div>
          <div class="item-bottom">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
